/* styles.css */

/* Estilos generales del cuerpo y contenedor */
.body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 0;
}

.container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

/* Estilos para los formularios y campos de entrada */
.form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
}

.input:focus {
    outline: none;
}

/* Estilos para los botones */
.button {
    background-color: #4c99b1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #8091a3;
}

 /* Estilos adicionales específicos para la lista de posts */
 #postsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea a la izquierda */
    max-width: 600px; /* Ancho máximo del contenedor de posts */
    padding: 0 20px; /* Espacios iguales a izquierda y derecha */
    font-size: 18px;
}

.post {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.post p {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
}

#popup {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #4c99b1;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 24px;
    border: 2px solid #4c99b1;
}

#popup.error {
    color: orangered; /* Color de texto para errores */
    border-color: orangered; /* Color de borde para errores */
}

.link-list {
    list-style-type: none; /* Elimina los estilos de lista (viñetas) */
    padding: 0; /* Elimina el padding por defecto de la lista */
}

.link-list li {
    margin-bottom: 5px; /* Espacio entre cada elemento de la lista */
}

.link-list li a {
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    color: #8b8ca3; /* Color del texto de los enlaces */
    font-size: 16px; /* Tamaño de fuente de los enlaces */
}

.urls{
    margin-top: 10px;
}
